# Compiled files
*.slo
*.lo
*.o
*.obj
*.out
*.so
*.a
*.lib

# Ignore dotfiles
.*

# Add more ignores
build/opencv_stitcher
build/result*.jpg
build/opencv_stitcher.cbp
build/Makefile
build/cmake_install.cmake
build/CMakeCache.txt
build/algo.cbp
build/CMakeFiles/*
CMakeLists.txt.user
build/temp/

# But a few exceptions..
!.gitignore
